[Unit]
Description=Reporte 20:00 semanal (domingo) de Arnic Finance

[Timer]
OnCalendar=Sun *-*-* 20:00:00
Persistent=true

[Install]
WantedBy=timers.target
